.body, html{
  margin: 0;
  height: 100%;
  width: 100vw;
 /*  height: 100%;
   margin: 0;*/
}
.navbar-brand{
  font-size: 23px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}

/* CARROSEL */
.carousel-item{
    height: 490px;
    left: 190px;
    overflow: hidden;
    margin: 10px;
    box-shadow : 10px 10px 15px rgba(3, 168, 245, 0.7);
    width: 900px;
}
.imagem{
    max-width: 100%;
    width: 395px;
    height: 395px;
    object-fit: cover;
}
/*FIM CSS-CARROSSEL*/

.div-body{
    background-color: #16395a;
    width: 100%;
    min-height: 100vh;
}
.conteudo{
    width: 70%;
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}
.col-6{
    min-height: 100vh; 
    /* background-color: #a34c4c; */
    margin: 0;
}
.col-6{
    min-height: 100vh;
    margin: 0;
    height: 250%;
}

.coluna1{
    text-align: justify;
    min-height: 100vh;
    margin:0;
    background-color: #ffffff;
    text-align: center;
    /*color: rgb(7, 7, 7);*/
    padding: 10px;
    height: 25%;

}


.coluna2{
   
    min-height: 50vh;
    margin:0;
    background-color: #ffffff;

}

.textcolor{
    
    text-align: center;
   /* color: rgb(7, 7, 7);*/
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

.container-fluid{

    min-height: 16vh;
    background: #6099ce;
    font-size: 18px;
    font-family: Helvetica;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
    width: 100%;
    
}

/*FOOTER DO SITE*/
.col-md-4:nth-child(even) {
   background: #5c8833;
   width: 788px;
   min-height: 10vh;
   margin-right: auto;
   margin-left: auto;
}
.col-md-4:nth-child(odd) {
  background: #5c8833;
  width: 788px;
  min-height: 10vh;
  margin-right: auto;
  margin-left: auto;
  
}
::selection {
  background-color: #c2ccf8;
  text-shadow: none;
}

footer {
  padding: 25px;
  background-color: #7cbd3f;
}
.container .row:not(:last-child) {
    padding-bottom: 2rem;
  }

.footer-column:not(:first-child) {
    padding-top: 2rem;
   /* @media (min-width: 768px) {*/
      padding-top: 0rem;
    }
 /* }*/

.footer-column {
  text-align: center;
  border: #8cd349 solid 1px;
}

.nav-link{
  padding: 0.1rem 0;
}

span.footer-title{
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.fas{
  margin-right: 0.5rem;
}
  
ul{
  display: inline-block;  
  min-width: 768px;
  text-align: left;
  border: none 
}


footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
  color: rgb(255, 255, 255);
  text-align: center;
}

.textcolor-footer{
    color: rgb(255, 255, 255);
}
/*PAGINA - BUSQUE AJUDA*/

.font-size{
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
.tamanho-da-fonte{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.img-thumbnail{
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
.text-color-artigo{
  color: rgb(38, 98, 167);
  font-size: 24px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.clearfix{
 /* width: 50%;*/
  height: 400px;
  font-size: 18px;
  /*font-family: Arial, Helvetica, sans-serif;*/
}
.tamanho-alinha{
  font-size: 28px;
}
.img-thumbnail{
  height: 150px;
  width: 150px;
}
.nav{
  color: #6099ce;
}
.tamanho-fonte-relatos{
  font-size: 19px;
}
/*******************IMAGEM OUTRAS PAGINAS*************/
/*.imagem{
    width: 750px;
    height: 450px;
}*/
